.admin__panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.admin__panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.admin__panel__header h2 {
  color: var(--acento-1);
  margin: 0;
}

.link__btn {
  background-color: lightseagreen;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 30px;
  padding-top: 5px;
  width: 180px;
  display: flex;
align-items: center;
justify-content: center;
}

.link__btn:hover {
  cursor: pointer;
  transition: 10ms;
  background-color: rgb(28, 146, 140);
}

.disc_div{
  display: flex; 
  justify-content: space-between; 
  gap:10px;
}

.add__btn {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: var(--acento-1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--gris-oscuro-1);
}

.add__btn:hover {
  cursor: pointer;
  background-color: var(--acento-1-suave);
}
.admin__table {
  color: var(--gris-claro-5);
}
.admin__table__head {
  background-color: var(--gris-oscuro-2);
}

.admin__table__body {
  background-color: var(--gris-oscuro-3);
}

.admin__table__body td,
.admin__table__head th {
  padding: 20px;
  text-align: center;
  max-width: 100px;
  min-width: 100px;
  height: auto;
  word-wrap: break-word;
}

.admin__table__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.action__btn {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--gris-oscuro-1);
}

.play__btn {
  background-color: rgb(29, 138, 29);
}

.delete__btn {
  background-color: var(--alerta-1);
}

.delete__btn:hover {
  background-color: var(--alerta-1-suave);
  cursor: pointer;
}

.patch__btn {
  background-color: var(--acento-2);
}

.patch__btn:hover {
  background-color: var(--acento-2-suave);
  cursor: pointer;
}
.active__btn--True {
  background-color: var(--acento-1);
}

.active__btn--True:hover {
  background-color: var(--acento-1-suave);
  cursor: pointer;
}

.active__btn--False {
  background-color: var(--alerta-2);
}

.active__btn--False:hover {
  background-color: var(--alerta-2-suave);
  cursor: pointer;
}

.page__btn {
  background-color: var(--acento-2);
}

.page__btn:hover {
  background-color: var(--acento-2-suave);
  cursor: pointer;
}

.page__btn--disabled {
  background-color: var(--acento-2-suave);
}

.page__btn--disabled:hover {
  cursor: not-allowed;
}

.pages__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  flex-grow: 1;
}
.select__btn {
  border-radius: 90px;
  background-color: var(--acento-1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--gris-oscuro-1);
}

.select__btn:hover {
  cursor: pointer;
  background-color: var(--acento-1-suave);
}

.form__search {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user__search {
  display: flex;
  background-color: var(--gris-oscuro-4);
  padding: 10px;
  border-radius: 999px;
  justify-self: flex-end;
}

.user__search input,
.user__search input:focus {
  background-color: var(--gris-oscuro-4);
  color: var(--gris-claro-5);
  border: none;
}

.search__btn {
  background-color: var(--acento-1);
}

.search__btn:hover {
  background-color: var(--acento-1-suave);
  cursor: pointer;
}

.select__search {
  height: 25px;
  border-radius: 999px;
  background-color: var(--gris-oscuro-4);
  color: var(--gris-claro-5);
  border: none;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .admin__panel {
    width: 85vh;
  }

  .admin__table__head tr th,
  .admin__table__body tr td {
    padding-left: 0;
    padding-right: 0;
    min-width: 14.5vh;
    max-width: 14.5vh;
    font-size: 80%;
  }

  .delete__btn,
  .patch__btn,
  .action__btn {
    width: 3vh;
  }

  .admin__panel__header {
    font-size: 80%;
  }
  .user__search input {
    max-width: 10vh;
  }
  .search__btn {
    max-width: 5vh;
    min-width: 5vh;
  }

  .discipline tr th,
  .discipline tr td {
    min-width: 12vh;
    max-width: 12vh;
  }

  .sync {
    width: 5vh;
  }
  .payment {
    width: 6vh;
  }
}
