{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <div class="disc_div"><a class="link__btn" href="/admin/disciplines/new">Crear disciplina</a>
      <a class="link__btn" href="/admin/categories/new">Crear categoría</a>
    </div>
    <div class="pages__btn">
      <a class="page__down action__btn page__btn"><</a>
      <p class="page" data-max="{{max_page}}">/ {{max_page}}</p>
      <a class="page__up action__btn page__btn">></a>
    </div>
   
  
  </div>
  <table class="admin__table">
    <thead class="admin__table__head">
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Instructores</th>
      <th>Horarios</th>
      <th>Costo</th>
      <th>Habilitada</th>
      <td>Acciones</td>
    </thead>
    <tbody class="admin__table__body">
      {% for discipline in disciplines %}
      <tr>
        <td>{{discipline.nombre}}</td>
        <td>{{discipline.categoria.nombre}}</td>
        <td>{{discipline.instructores}}</td>
        <td>{{discipline.horarios}}</td>
        <td>{{discipline.costo}}</td>
        <td>{% if discipline.habilitada == true%} Si {% else %} No {% endif %} </td>
        <td>
          <div class="admin__table__actions">
            <form method="DELETE" action="/disciplines/delete/{{discipline.id}}">
              <button class="delete__btn action__btn">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </form>
        
            {% if discipline.habilitada == true %}
            <a class="delete__btn action__btn switch" href="/disciplines/switch/{{discipline.id}}/false">
              <span class="material-symbols-outlined"> pause </span>
            </a>
            {% else %}
            <a class="play__btn action__btn switch" href="/disciplines/switch/{{discipline.id}}/true">
              <span class="material-symbols-outlined"> play_arrow </span>
            </a>
            {% endif %}

            <a
              class="patch__btn action__btn"
              href="/admin/disciplines/edit/{{discipline.id}}"
            >
              <span class="material-symbols-outlined"> edit </span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const page = location.href.split("/").at(-1);
  const pageCount = document.querySelector(".page");
  pageCount.textContent =
    page * 1 + 1 + document.querySelector(".page").textContent;

  const pageUp = document.querySelector(".page__up");
  const pageDown = document.querySelector(".page__down");

  if (pageCount.dataset.max * 1 - 1 <= page * 1)
    pageUp.classList.add("page__btn--disabled");
  if (page * 1 <= 0) pageDown.classList.add("page__btn--disabled");

  pageUp.addEventListener("click", (e) => {
    if (pageCount.dataset.max * 1 - 1 <= page * 1) return;
    location.href = `/admin/disciplines/${page * 1 + 1}`;
  });

  pageDown.addEventListener("click", (e) => {
    if (page * 1 <= 0) return;
    location.href = `/admin/disciplines/${page * 1 - 1}`;
  });
</script>
{% endblock %}
