{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Modificar datos de Usuario</h2>
  </div>
  <form
    class="admin__form admin__form--update"
    method="POST"
    action="/users/update/{{user.id}}"
  >
    <div class="admin__form__input">
      <label>Nombre de usuario</label>
      <input
        type="text"
        placeolder="Nombre de usuario"
        required
        value="{{user.username}}"
        name="username"
      />
    </div>
    <div class="admin__form__input">
      <label>Nombre</label>
      <input
        type="text"
        placeolder="Nombre"
        required
        value="{{user.nombre}}"
        name="nombre"
      />
    </div>
    <div class="admin__form__input">
      <label>Apellido</label>
      <input
        type="text"
        placeolder="Apellido"
        required
        value="{{user.apellido}}"
        name="apellido"
      />
    </div>
    <div class="admin__form__input">
      <label>Email</label>
      <input
        type="email"
        placeolder="Email"
        required
        value="{{user.email}}"
        name="email"
      />
    </div>
    <div class="admin__form__input">
      <label>Contraseña</label>
      <input
        type="text"
        placeolder="Password"
        required
        value="{{user.contraseña}}"
        name="contraseña"
      />
    </div>
    <div class="admin__form__input">
      <label>Roles</label>
      <div class="roles__input">
        <select value="">
          <option value="">Seleccione un rol para agregar</option>
          {% for rol in roles %}
          <option value="{{rol.id}}">{{rol.nombre}}</option>
          {% endfor %}
        </select>
        <button class="add__role">+</button>
      </div>
      <label>Roles seleccionados</label>
      <div class="roles__added">
        {% for rol_user in user.roles %}
        <div data-id="{{rol_user.id}}" class="rol__added">
          <span>{{rol_user.nombre}}</span>
          <button class="action__btn delete__btn">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    <input name="roles" type="text" style="display: none" />
    <input type="submit" value="Modificar usuario" />
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif%}
  </form>
</div>
<script src="{{ url_for('static', filename='js/admin_users.js') }}"></script>
{% endblock %}
