{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Elija un Socio</h2>
    <!-- TODO: Crear estilo para buscador -->
    <form class="form__search" action="/socios/find" method="GET">
      <div class="user__search">
        <input
          type="text"
          name="search"
          class="input__search"
          placeholder="Buscar..."
          required
        />
        <button class="search__btn action__btn">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
      <select name="type" id="type" class="select__search" required>
        <option disabled selected hidden value="">--Buscar por--</option>
        <option value="nombre">Nombre</option>
        <option value="nro_socio">Numero Socio</option>
      </select>
    </form>
    <div class="admin__table__actions">
      <a class="add__btn action__btn" href="/socios"
        ><span class="material-symbols-outlined"> sync </span>
      </a>
    </div>
  </div>

  <table class="admin__table">
    <thead class="admin__table__head">
      <tr>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>NRO DOC</th>
        <th>NRO SOCIO</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="admin__table__body">
      {% for data in socios %}
      <tr>
        <td>{{data.nombre}}</td>
        <td>{{data.apellido}}</td>
        <td>{{data.nro_documento}}</td>
        <td>{{data.nro_socio}}</td>
        <td>
          <div class="admin__table__actions">
            <a class="add__btn action__btn" href="/socios/{{data.id}}"
              ><span class="material-symbols-outlined"> payments </span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
