{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Agregar Pago a {{socio.nombre}} {{socio.apellido}}</h2>
  </div>

  <form
    class="admin__form admin__from--create"
    action="/admin/pagos/socio/create"
    method="POST"
  >
    <div style="display: none">
      <input type="number" name="id_socio" value="{{socio.id}}" />
    </div>
    <div class="admin__form__input">
      <label>Pago</label>
      <input type="number" placeholder="Pago" name="pago" required />
    </div>
    <div class="admin__form__input">
      <input
        type="date"
        name="fecha"
        required
        min="{{min_date}}"
        max="{{max_date}}"
      />
    </div>

    <input type="submit" value="Agregar Pago" />
  </form>
</div>
{% endblock %}
