{% extends 'admin.html' %}
{% block title %} Panel de personas Asociadas {% endblock %}

{% block content %}

<div class="admin__panel">
    <div class="admin__panel__header">
      <h2>Modificar datos de Usuario</h2>
    </div>
    <form class="admin__form admin__form--update" action="/admin/socios/update/{{user.id}}" method="POST">
      <div class="admin__form__input">
        {% if error %}
        <div class="error"> {{error}} </div>
        {% endif %}
        <label>Nombre</label>
        <input name="nombre" type="text" placeolder="Nombre" required value="{{user.nombre}} " />
      </div>
      <div class="admin__form__input">
        <label>Apellido</label>
        <input name="apellido" type="text" placeolder="Apellido" required value="{{user.apellido}} "/>
      </div>
      <div class="admin__form__input">
        <label>Genero </label>
        <div class="roles__input">
          <select value="" name="genero" required>
            <option value=""disabled selected hidden > {{user.genero}} </option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
          </select>
        </div>
      </div>
      <div class="admin__form__input">
        <label>Estado </label>
        <div class="roles__input">
          <select value="" name="estado" required>
            {% if user.estado %} <option value=""disabled selected hidden >Activo</option>
            {% else %} <option value=""disabled selected hidden >Inactivo</option>
            {% endif %}
            <option value="Activo">Activo </option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div> 
      </div>
      <div class="admin__form__input">
        <label>Direccion</label>
        <input type="text" name="direccion"required value="{{user.direccion}}"/>
      </div>
      <div class="admin__form__input">
        <label>Telefono</label>
        <input type="number" name="telefono" value="{{user.telefono}}"/>
      </div>
      <div class="admin__form__input">
        <label>Email</label>
        <input name ="email" type="email" placeolder="Email" value="{{user.email}} " />
      </div>
    <input type="submit" value="Modificar usuario" />
    </form>
  </div>
</div>
{% endblock %}