{% extends 'admin.html' %} {% block title %} Panel de personas Asociadas {%
endblock %} {% block content %}

<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Socios</h2>

    <form class="form__search" method="GET">
      <div class="user__search">
        <input
          type="text"
          name="apellido"
          class="input__search"
          placeholder="Apellido"
        />
        <button class="search__btn action__btn">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
      <select name="estado" id="type" class="select__search" required>
        <option disabled selected hidden value="" required>
          Seleccione Estado
        </option>
        <option value="nada">No buscar por estado</option>
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </form>

    <div class="pages__btn">
      {% if search %}
      <a
        class="page__down action__btn page__btn"
        data-search="true"
        data-tipo="{{tipo}}"
        data-value="{{value}}"
        ><</a
      >
      {% else %}
      <a class="page__down action__btn page__btn"><</a>
      {% endif %}
      <p class="page" data-max="{{max_page}}">/ {{max_page}}</p>
      {% if search %}
      <a
        class="page__up action__btn page__btn"
        data-search="true"
        data-tipo="{{tipo}}"
        data-value="{{value}}"
        >></a
      >
      {% else %}
      <a class="page__up action__btn page__btn">></a>
      {% endif %}
    </div>



    <a class="add__btn action__btn" href="/admin/socios/0"><span class="material-symbols-outlined"> sync </span>
    </a>



    <a class="add__btn" href="/admin/socios/crearSocio">+</a>
  </div>
  <table class="admin__table">
    <thead class="admin__table__head partner">
      <th>Numero de Socio</th>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Tipo de Documento</th>
      <th>Nro de Documento</th>
      <th>Acciones</th>
    </thead>
    <tbody class="admin__table__body partner">
      {% for user in socio %}
      <tr>
        <td>{{user.nro_socio}}</td>

        {% if user.email %}
        <td>{{user.email}}</td>
        {% else %}
        <td>Sin especificar</td>
        {% endif %}

        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.tipo_documento}}</td>
        <td>{{user.nro_documento}}</td>
        <td>
          <div class="admin__table__actions">
            <a class="delete__btn action__btn" href="/admin/socios/delete/{{user.id}}">
              <span class="material-symbols-outlined"> delete </span>
            </a>
            <a class="patch__btn action__btn" href="/admin/socios/editarSocio/{{user.id}}">
              <span class="material-symbols-outlined"> edit </span>
            </a>
            {% if user.estado == false %}
            <a onclick="alert('Error: El usuario debe estar activo para inscribirse a una disciplina');" class="delete__btn action__btn" >
              <span class="material-symbols-outlined"> content_paste</span>
            </a>
            {% else %}
            <a class="add__btn action__btn" href="/admin/disciplines/registerMember/{{user.id}}">
              <span class="material-symbols-outlined"> content_paste</span>
            </a>
            {% endif %}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if not tipo %}
    {% if not value %}
      <p>
      <a href="/admin/socios/descargarPDF/nada/vacio"> 
        <img 
        src="https://cdn-icons-png.flaticon.com/512/337/337946.png" 
        alt="Descargar como PDF"
        style="width:75px;height:75px;"> </a>

      <a href="/admin/socios/descargarCSV/nada/vacio"><img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" alt="Descargar como CSV"
      style="width:75px;height:75px;"></a>
      </p>
    {% else %}
      <p>
      <a href="/admin/socios/descargarPDF/nada/{{value}}"> 
        <img 
        src="https://cdn-icons-png.flaticon.com/512/337/337946.png" 
        alt="Descargar como PDF"
        style="width:75px;height:75px;"> </a>

      <a href="/admin/socios/descargarCSV/nada/{{value}}"><img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" alt="Descargar como CSV"
      style="width:75px;height:75px;"></a>
      </p>
    {% endif %}

  {% elif not value %}
    <p>
    <a href="/admin/socios/descargarPDF/{{tipo}}/vacio"> 
      <img 
      src="https://cdn-icons-png.flaticon.com/512/337/337946.png" 
      alt="Descargar como PDF"
      style="width:75px;height:75px;"> </a>

    <a href="/admin/socios/descargarCSV/{{tipo}}/vacio"><img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" alt="Descargar como CSV"
    style="width:75px;height:75px;"></a>
    </p>
  {% else %}
    <p>
    <a href="/admin/socios/descargarPDF/{{tipo}}/{{value}}"> 
      <img 
      src="https://cdn-icons-png.flaticon.com/512/337/337946.png" 
      alt="Descargar como PDF"
      style="width:75px;height:75px;"> </a>

    <a href="/admin/socios/descargarCSV/{{tipo}}/{{value}}"><img src="https://cdn-icons-png.flaticon.com/512/6133/6133884.png" alt="Descargar como CSV"
    style="width:75px;height:75px;"></a>
    </p>
  {% endif %}
</div>


<script>
  // IMPLEMENTAMOS LA PAGINACION
  const page = location.href.split("/").at(-1);
  const pageCount = document.querySelector(".page");
  pageCount.textContent =
    page * 1 + 1 + document.querySelector(".page").textContent;

  const pageUp = document.querySelector(".page__up");
  const pageDown = document.querySelector(".page__down");

  if (pageCount.dataset.max * 1 - 1 <= page * 1)
    pageUp.classList.add("page__btn--disabled");
  if (page * 1 <= 0) pageDown.classList.add("page__btn--disabled");

  pageUp.addEventListener("click", (e) => {
    if (pageCount.dataset.max * 1 - 1 <= page * 1) return;

    const href = `${
      e.target.dataset.search == "true"
        ? `find/${e.target.dataset.tipo}/${e.target.dataset.value}`
        : ""
    }`;

    location.href = `/admin/socios/${href}/${page * 1 + 1}`;
  });

  pageDown.addEventListener("click", (e) => {
    if (page * 1 <= 0) return;

    const href = `${
      e.target.dataset.search == "true"
        ? `find/${e.target.dataset.tipo}/${e.target.dataset.value}`
        : ""
    }`;

    location.href = `/admin/socios/${href}/${page * 1 - 1}`;
  });

  // REDIRIGIMOS A LA PESTAÑA DE BUSQUEDA
  document.querySelector(".form__search").addEventListener("submit", (e) => {
    e.preventDefault();
    let tipo = document.querySelector(".select__search").value;
    let value = document.querySelector(".input__search").value ? document.querySelector(".input__search").value : "vacio";
    if (value == "") return;
    location.href = `/admin/socios/find/${tipo}/${value}/0`;
  });
</script>

{% endblock %}
