{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Inscribir a disciplina</h2>
  </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {%for message in messages%}
        <script> alert("{{message}}")</script>
      {% endfor %}
    {%  endif  %}
    {%  endwith  %}
    {% for discipline in disciplines %} 
    <div class="disc-box">
      <h2>{{discipline.nombre}}</h2>
      <p>Categoría: {{discipline.categoria.nombre}} {{discipline.categoria_id}} . Horario: {{discipline.horarios}} . Costo: {{discipline.costo}} </p>
     <form METHOD="GET" action="/disciplines/addMemberDisc/{{discipline.id}}/{{id}}">
      <button class="bt-insc">Inscribirse</button>
    </form>
    </div>
     {% endfor %}
</div>
{% endblock %}
