<!DOCTYPE html>
<html lang="en">
  {% with messages = get_flashed_messages() %} {% if messages %} {%for message
    in messages%}
    <script>
      alert("{{message}}");
    </script>
    {% endfor %} {% endif %} {% endwith %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
    <title>Login</title>
  </head>
  <body>
    <form class="form__login" method="POST" action="/auth/login">
      <div class="admin__form__input">
        <label>Nombre de usuario</label>
        <input type="text" required name="username" />
      </div>
      <div class="admin__form__input">
        <label>Contraseña</label>
        <input type="password" required name="contraseña" />
      </div>
      {% if error %}
      <p class="error">{{error}}</p>
      {% endif%}
      <input type="submit" class="submit__btn" value="Iniciar sesion" />
    </form>
  </body>
</html>
