<!-- En pagos socios  -->

{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Pagos de {{partner.nombre}} {{partner.apellido}}</h2>
  </div> 
    <div>
      <a class="add__btn action__btn" href="/pagos/{{partner.id}}/new"
        ><span class="material-symbols-outlined"> add </span></a
      >
    </div>
    <table class="admin__table">
      <thead class="admin__table__head">
        <tr>
          <th>PAGO</th>
          <th>FECHA</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="admin__table__body">
        {% for data in pagos_socio %}
        <tr>
          <td>{{data.pago}}</td>
          <td>{{data.fecha}}</td>
          <td>
            <div class="admin__table__actions">
              <form action="/pagos/delete/{{partner.id}}/{{data.id}}" method="DELETE">
                <input type="submit" class="material-symbols-outlined delete__btn action__btn" style="background-color:#cd104d ;" value="delete">
              </form>
              <a class="patch__btn action__btn" data-id="{{data.id}}" href="/pagos/{{partner.id}}/download/{{data.id}}">
                <span class="material-symbols-outlined"> file_download </span>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- <script>
    [...document.querySelectorAll(".delete__btn")].forEach((btn) => {
      btn.addEventListener("click", async (e) => {
        if (confirm("¿Estas seguro de que quieres eliminar este pago?")) {
          try {
            const res = await fetch(
              `http://${location.host}/pagos/delete/${partner.id}/${btn.dataset.id}`,
              {
                method: "DELETE",
                credentials: "same-origin",
                headers: {
                  "Content-Type": "application/json",
                },
              }
            );

            if (res.status == 200) location.href = "/socios/{{partner.id}}";
          } catch (err) {
            console.log(err);
          }
        }
      });
    });
  </script> -->

  {% endblock %}
</div>
