{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Usuarios</h2>
    <div class="pages__btn">
      <a class="page__down action__btn page__btn"><</a>
      <p class="page" data-max="{{max_page}}">/ {{max_page}}</p>
      <a class="page__up action__btn page__btn">></a>
    </div>
    <a class="add__btn" href="/admin/users/new">+</a>
  </div>
  <table class="admin__table">
    <thead class="admin__table__head">
      <th>email</th>
      <th>username</th>
      <th>nombre</th>
      <th>apellido</th>
      <th>roles</th>
      <th>Acciones</th>
    </thead>
    <tbody class="admin__table__body">
      {% for user in users %}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{% for rol in user.roles %}{{rol.nombre}} {% endfor %}</td>
        <td>
          <div class="admin__table__actions">
            <a class="delete__btn action__btn" data-id="{{user.id}}">
              <span class="material-symbols-outlined"> delete </span>
            </a>
            <a
              class="patch__btn action__btn"
              href="/admin/users/edit/{{user.id}}"
            >
              <span class="material-symbols-outlined"> edit </span>
            </a>
            <a
              class="active__btn--{{user.activo}} action__btn active__btn"
              data-id="{{user.id}}"
              data-activo="{{user.activo}}"
            >
              {% if user.activo %}
              <span class="material-symbols-outlined"> toggle_on </span>
              {% else %}
              <span class="material-symbols-outlined"> toggle_off </span>
              {% endif %}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  [...document.querySelectorAll(".delete__btn")].forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      try {
        const res = await fetch(
          `http://${location.host}/users/delete/${btn.dataset.id}`,
          {
            method: "DELETE",
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );

        if (res.status == 200) location.href = "/admin/users";
      } catch (err) {
        console.log(err);
      }
    });
  });

  [...document.querySelectorAll(".active__btn")].forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      try {
        const res = await fetch(
          `http://${location.host}/users/active/${btn.dataset.id}`,
          {
            method: "POST",
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              activo: btn.dataset.activo == "True" ? false : true,
            }),
          }
        );
        if (res.status == 200) location.href = "/admin/users";
      } catch (err) {
        console.log(err);
      }
    });
  });

  // IMPLEMENTAMOS LA PAGINACION
  const page = location.href.split("/").at(-1);
  const pageCount = document.querySelector(".page");
  pageCount.textContent =
    page * 1 + 1 + document.querySelector(".page").textContent;

  const pageUp = document.querySelector(".page__up");
  const pageDown = document.querySelector(".page__down");

  if (pageCount.dataset.max * 1 - 1 <= page * 1)
    pageUp.classList.add("page__btn--disabled");
  if (page * 1 <= 0) pageDown.classList.add("page__btn--disabled");

  pageUp.addEventListener("click", (e) => {
    if (pageCount.dataset.max * 1 - 1 <= page * 1) return;
    location.href = `/admin/users/${page * 1 + 1}`;
  });

  pageDown.addEventListener("click", (e) => {
    if (page * 1 <= 0) return;
    location.href = `/admin/users/${page * 1 - 1}`;
  });
</script>
{% endblock %}
