{% extends "admin.html" %} {% block content %}
<div class="admin__panel">
  <div class="admin__panel__header">
    <h2>Usuarios</h2>
    <a class="add__btn" href="/admin/users/new">+</a>
  </div>
  <table class="admin__table">
    <thead class="admin__table__head">
      <th>email</th>
      <th>username</th>
      <th>nombre</th>
      <th>apellido</th>
      <th>roles</th>
      <th>Acciones</th>
    </thead>
    <tbody class="admin__table__body">
      {% for user in users %}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>/{% for rol in user.roles %}{{rol.nombre}}/{% endfor %}</td>
        <td>
          <div class="admin__table__actions">
            <a class="delete__btn action__btn" data-id="{{user.id}}">
              <span class="material-symbols-outlined"> delete </span>
            </a>
            <a
              class="patch__btn action__btn"
              href="/admin/users/edit/{{user.id}}"
            >
              <span class="material-symbols-outlined"> edit </span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  [...document.querySelectorAll(".delete__btn")].forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      try {
        const res = await fetch(
          `http://${location.host}/users/delete/${btn.dataset.id}`,
          {
            method: "DELETE",
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json",
            },
          }
        );

        if (res.status == 200) location.href = "/admin/users";
      } catch (err) {
        console.log(err);
      }
    });
  });
</script>
{% endblock %}
