<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form__login">
        <input type="text" placeholder="Nombre de usuario" />
        <input type="password" placeholder="Contraseña" />
        <input type="submit" />
    </form>
</body>
<script>
    const formLogin = document.querySelector('.form__login');

    formLogin.addEventListener("submit", async (e) => {
        e.preventDefault();
        const inputs = [...e.target.querySelectorAll("input")];
        const user = {
            username: inputs[0].value,
            password: inputs[1].value
        }

        try{
            const res = await fetch(`http://${location.host}/auth/login`, {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            })

            if(res.status == 200)
                location.href="/admin"
        }catch(err){
            console.log(err);
        }
    })
</script>
</html>